
.cart{
    padding: 10px;
}
.cart li{
    display: flex;
    align-items: flex-end;
    list-style-position: inside;
    margin-bottom: 8px;
    padding: 5px 2px;
    font-size: 1rem;
    box-shadow: 2px 2px 15px rgb(66, 66, 66);
    border-left: 4px solid #111416;
    text-align: left;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-icons{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.cart .quantity{
    font-weight: bold;
    color: rgb(6, 76, 133);
    font-size: 1.1rem;
}
.cart .mealName{
    font-weight: 700;
    color: rgb(102, 82, 26);
}
.cart .deleteItem{
    font-weight: 900;
    color: red;
    cursor: pointer;
}
.empty-cart img{
    width: 80%;
}
.cart h3, .empty-cart h3{
    position: relative;
    margin: 0;
    margin-top: 20px;
    font-weight: 900;
    z-index: 1;
    overflow: hidden;
    color: rgb(10, 49, 75);
}
.cart h3::before, .empty-cart h3::before{
    content: '|';
    color: rgb(160, 9, 9);
    font-weight: 400;
    position: absolute;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    left: 0%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #E2CBAC 1%, #E2CBAC 100%);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        left: 10%
    }
    100%{
        left: 120%
    }
}
