.banner{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: rgba(9, 48, 90, 0.575);
}
.header-text{
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color:rgba(30, 72, 136, 0.623);
    font-weight: 700;
}
.banner h2{
    font-size:4em;
    position: relative;
    margin: 0;
    font-weight: 900;
    z-index: 1;
    overflow: hidden;
}
.banner h2::before{
    content: '|';
    color: rgb(6, 29, 71);
    font-weight: 400;
    position: absolute;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    left: 0%;
    width: 120%;
    height: 90%;
    background: linear-gradient(90deg, transparent 0%, #7188A0 1%, #7188A0 100%);
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0%{
        left: -20%
    }
    100%{
        left: 140%
    }
}
.banner h2 span{
    color: #F0932B;
}

@media screen and (max-width: 688px) {
  .banner{
    flex-direction: column;
  }
  .banner h2{
    margin-top: -50px;
    font-size:2em;
  }
  .banner-img-2{
    display: none;
  }
  .banner-text-break{
    display: none;
  }
}