.expert{
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.6s 0.5s ease-in-out;
    text-indent: -100%;
    opacity: 1;
}